<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../../static/css/Iniciar_sesion.css">
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Jhon_Doe@gmail.com">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="****************">
        </div>
        <a href="home-page.html">
        <button type="button">Ingresar</button>
        </a>
        <div class="links">
            <div class="register-link">¿No tienes cuenta? <a href="register-page.html">Regístrate</a></div>
            <div class="forgot-link"><a href="olvidar-contraseña-page.html">¿Olvidaste tu contraseña?</a></div>
            <div class="home-link"><a href="home-page.html">Volver a la página principal</a></div>
        </div>
    </div>

    <div class="footer">
        <p>© 2025 Recetas Sencillas - Todos los derechos reservados</p>
        <p>Contacto: contacto@recetas-sencillas.com</p>
    </div>
</body>
</html>